#about-us {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;

  #about-us-profile-container {
    width: 80%;
    align-items: center;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    row-gap: 3rem;
  }
}

@media (max-width: 1750px) {
  #about-us {
    #about-us-profile-container {
      width: 100%;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

@media (max-width: 1300px) {
  #about-us {
    #about-us-profile-container {
      width: 90%;

      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (max-width: 1000px) {
  #about-us {
    #about-us-profile-container {
      width: 100%;

      .about-us-profile-card {
        scale: 0.9;

        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  #about-us {
    #about-us-profile-container {
      grid-template-columns: 1fr;
      row-gap: 1rem;
      padding: 0rem;

      .about-us-profile-card {
        scale: 1;
      }
    }
  }
}

@media (max-width: 440px) {
  #about-us {
    #about-us-profile-container {
      row-gap: 0;
      .about-us-profile-card {
        scale: 0.8;
      }
    }
  }
}
