#position-ad {
  background: radial-gradient(
      circle at 100% -50%,
      rgba(38, 180, 56, 1) 5%,
      rgb(15, 66, 21) 25%,
      rgba(0, 0, 0, 1) 60%,
      transparent
    ),
    radial-gradient(
      circle at 0% -90%,
      rgba(38, 180, 56, 1) 5%,
      rgb(15, 66, 21) 25%,
      rgba(0, 0, 0, 1) 60%,
      transparent
    );

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p,
  li {
    line-height: 1.4rem;

    &.bold {
      font-weight: bold;
      color: yellow;
    }
  }

  a {
    text-decoration: underline;
    &:hover {
      cursor: pointer;
      color: var(--accent-main-clr);
      transition: color 0.3s ease-in-out;
    }
  }

  #position-ad-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    img {
      width: 15rem;
    }
  }

  #position-ad-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-main-clr);
    border: 1px solid var(--accent-main-clr);
    max-width: 55rem;
    width: 50%;
    padding: 2rem 3rem;
    row-gap: 2rem;
    margin: 2rem 0;
    position: relative;

    #position-ad-lang-btns {
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
      display: flex;
      column-gap: 0.5rem;
      padding: 0.2rem;

      span {
        border: 1px solid var(--font-main-clr);
        background-color: gray;

        &:hover {
          cursor: pointer;
          border: 1px solid var(--accent-main-clr);
          transition: color 0.3s ease-in-out;
        }
      }

      .active-lng {
        border: 1px solid var(--accent-main-clr);
      }
    }

    h2 {
      text-align: center;
    }
  }

  #position-ad-contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    max-width: 50%;
    padding: 0 0.5rem;

    #arrow-to-contact {
      font-size: 2rem;
      animation: moveUpDown 1.5s infinite ease-in-out;

      &:hover {
        cursor: pointer;
        color: var(--accent-main-clr);
        transition: color 0.3s ease-in-out;
        animation-play-state: paused;
      }
    }

    @keyframes moveUpDown {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-8px);
      }
    }
  }
}

@media (max-width: 800px) {
  #position-ad #position-ad-description {
    width: 85%;
    margin: 1rem 0;
  }

  #position-ad #position-ad-contact-us {
    max-width: 85%;
  }
}

@media (max-width: 450px) {
  #position-ad #position-ad-description {
    width: 90%;
    padding: 1rem 2rem;

    h2 {
      font-size: 1.4rem;
    }
  }
}
