#position-ad {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  // padding: 4rem 0;
  padding-bottom: 4rem;
}

// @media (max-width: 420px) {
//   #about-us {

//   }
// }
