#news {
  background: radial-gradient(
    ellipse at 50% 50%,
    rgb(15, 66, 21) 0%,
    rgba(0, 0, 0, 1) 69%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-bottom: 4rem;
  border: 1px solid red;

  .slide {
    width: 35rem;
  }

  button {
    cursor: pointer;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
    margin: 0 1rem;
  }

  #slideshow-preview {
    display: flex;
    .slide-preview {
      width: 20rem;
    }
  }
}
